@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700;900&family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;600;700&display=swap');

@import "zero-style.scss";

$fontColor1: #252B42;
$fontColor2: #737373;
$Martel: 'Martel', serif;

body {
    font-family: 'Open Sans', sans-serif;

    .header {
        height: 100%;
        background-image: url('/img/Cover.png');
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header__navbar {
            display: grid;
            grid-template-columns: 6fr 3fr auto;
            align-items: center;
            height: 104px;
            max-width: 1322px;

            .header__navbarBrand {
                grid-column: 1;
                font-family: $Martel;
                color: $fontColor1;
                font-size: 24px;
                font-weight: 700;
            }

            .header__navbarList {
                grid-column: 2;
                justify-self: flex-end;

                .header__navbarUl {
                    display: flex;
                    gap: 25px;

                    a {
                        font-size: 14px;
                        font-weight: 600;
                        color: $fontColor2;
                    }
                }
            }

            .header__navbarButtons {
                grid-column: 3;
                justify-self: flex-end;
                margin-left: 42px;

                .header__navbarCart {
                    margin-left: 22px;
                }

                .header__navbarToggler {
                    margin-left: 141px;
                }
            }

        }

        .header__container {
            display: flex;
            height: 100%;
            max-width: 1332px;
            justify-content: space-between;

            .header__content {
                align-self: center;

                .header__h1 {
                    font-family: $Martel;
                    color: $fontColor1;
                    font-size: 58px;
                    font-weight: 900;
                    width: 509px;
                    line-height: 65px;
                    letter-spacing: 0.2px;
                }

                .header__h4 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 20px;
                    font-weight: 500;
                    width: 374px;
                    margin-top: 35px;
                    color: $fontColor2;
                }

                .header__buttonsContainer {
                    margin-top: 35px;

                    .header__button {
                        font-size: 14px;
                        font-weight: 700;
                        color: white;
                        background-color: #784F33;
                        width: 182px;
                        height: 48px;
                        border-radius: 37px;
                        margin-right: 8px;
                    }

                    .header__button:active {
                        color: #784F33;
                        background-color: transparent;
                        border: 1px solid #784F33;
                    }
                }
            }

            .header__image {
                background-image: url('/img/Agent.png');
                background-position: bottom;
                background-repeat: no-repeat;
                width: 565px;
            }
        }
    }

    .ourPractice {
        display: flex;
        flex-direction: column;
        height: 529px;
        width: 100%;
        align-items: center;
        justify-content: center;

        .title {
            width: 431px;
        }

        .ourPractice__container {
            display: flex;
            margin-top: 80px;
            gap: 34px;
            max-height: 147px;
            height: 100%;


            .ourPractice__lightBtn {
                width: 325px;
                background: #F9F9F9;
                box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
                border-radius: 5px;
            }

            .ourPractice__darkBtn {
                width: 325px;
                background: #295C7A;
                box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
                border-radius: 5px;
            }
        }
    }

    .practiceAdvice {
        height: 699px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
            width: 431px;
        }

        .practiceAdvice__container {
            display: flex;
            margin: 45px 0px 108px 0px;
            gap: 40px;

            .practiceAdvice__advice {
                width: 230px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .practiceAdvice__adviceTitle {
                    padding-left: 29px;
                    font-family: $Martel;
                    color: $fontColor1;
                    font-size: 16px;
                    font-weight: 700;
                }

                .practiceAdvice__adviceText {
                    padding-left: 29px;
                    margin-top: 15px;
                    color: $fontColor2;
                }

                .practiceAdvice__img {
                    height: 138px;
                    margin-top: 30px;
                }
            }
        }
    }

    .whoWeAre {
        height: 890px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            width: 468px;

        }

        .whoWeAre__container {
            display: flex;
            padding-top: 100px;

            .whoWeAre__video {

                .whoWeAre__video_shadow {
                    position: relative;
                    bottom: 444px;
                    width: 597px;
                    height: 442px;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
                }

                .whoWeAre__videoBtn {
                    padding: 34.8px 36.8px;
                    position: relative;
                    width: 97.6px;
                    height: 98.4px;
                    background: #295C7A;
                    border-radius: 73.6px;
                    left: 250px;
                    bottom: 710px;
                }
            }

            .whoWeAre__content {
                width: 321px;
                margin-left: 121px;

                .title {
                    width: 321px;
                    text-align: left;
                    margin-bottom: 50px;
                }

                .whoWeAre__contentLine {
                    display: flex;

                    .whoWeAre__contentH5 {
                        font-family: $Martel;
                        color: $fontColor1;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.1px;
                        padding-left: 20px;
                    }

                    .whoWeAre__contentH6 {
                        margin-bottom: 30px;
                        color: $fontColor2;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                        padding-left: 20px;
                    }
                }
            }
        }
    }

    .clients {
        display: flex;
        flex-direction: column;
        height: 339px;
        background: $fontColor1;

        .clients__bgWhite {
            background: white;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .clients__logos {
                display: flex;
                width: 986px;
                justify-content: space-between;
            }

            .clients__subscribe {
                background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
                border-radius: 2px;
                width: 986px;
                height: 124px;
                position: relative;
                top: 62px;
                display: flex;
                justify-content: space-between;

                .clients__subscribeText {
                    font-family: $Martel;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 0.1px;
                    color: white;
                    margin-left: 50px;
                    align-self: center;
                }

                .clients__subscribeInput {
                    margin-right: 53px;
                    align-self: center;

                    .clients__input {
                        width: 450px;
                        height: 58px;
                        background: #F9F9F9;
                        border: 1px solid #E6E6E6;
                        border-radius: 5px;
                    }

                    .clients__input::placeholder {
                        padding-left: 20px;
                        font-family: 'Montserrat', sans-serif;
                        line-height: 28px;
                        letter-spacing: 0.2px;
                        color: $fontColor2;
                    }

                    .clients__subscribeBtn {
                        box-sizing: border-box;
                        width: 117px;
                        height: 58px;
                        background: #D0A144;
                        border: 1px solid #E6E6E6;
                        border-radius: 0px 5px 5px 0px;
                        font-family: 'Montserrat', sans-serif;
                        line-height: 28px;
                        letter-spacing: 0.2px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

.title {
    text-align: center;
}

.title__h2 {
    font-family: $Martel;
    color: $fontColor1;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
}

.title__p {
    color: $fontColor2;
    margin-top: 10px;
    line-height: 20px;
    letter-spacing: 0.2px;
}